{% include "part_page/page_style.html" %}
{% include "part_page/header.html" %}



<!-- Body (picture, big word) !!! ================================================================================================== -->



<style>
    .picture-filled-background {
        /* border: 2px solid red; */
        height: 770px;
    }

    .picture-filled-background-left {
        /* border: 2px solid rgb(30, 255, 0); */
        float: left;
        height: 770px;
        width: 616px;
        margin-left: 20px;
    }

    .picture-filled-background-left-text-above {
        /* border: 2px solid blue; */
        vertical-align: top;
        width: 616px;
        padding-top: 45px;
        padding-bottom: 370px;
        font-size: 62px;
    }


    .picture-filled-background-left-text-below {
        /* border: 2px solid rgb(251, 0, 255); */
        vertical-align: top;
        width: 420px;
        height: 100px;
        font-size: 28px;
        margin-bottom: 40px;
        font-family: "Times New Roman";
    }

    .picture-filled-background-left-link-button {
        /* border: 2px solid rgb(251, 0, 255); */
        vertical-align: bottom;
        width: 320px;
        height: 80px;
        text-decoration: none;
        background-color: #063e98;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

    }

    .picture-filled-background-left-link-button p {
        /* border: 2px solid rgb(19, 167, 172); */
        font-size: 20px;
        width: 200px;
        height: 40px;
        margin-left: 20%;
        padding-top: 10px;
    }

    .picture-filled-background-right {
        /* border: 2px solid blue; */
        float: right;
        height: 770px;
        width: 704px;
        margin-right: 20px;
    }

    .picture-filled-background-right img {
        /* border: 2px solid blue; */
        width: 500px;
        height: 500px;
        margin-top: 110px;
        margin-left: 100px;
    }
</style>

<nav class="picture-filled-background">
    <div class="picture-filled-background-left">
        <div class="picture-filled-background-left-text-above">
            Broaden your horizon
        </div>

        <div class="picture-filled-background-left-text-below">
            Learn -- what and how -- you can do to practise your Entrepreneurial Leadership inside UT021
        </div>

        <a href="../events/" class="picture-filled-background-left-link-button">
            <p>Learn More &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#62; </p>
        </a>
    </div>

    <div class="picture-filled-background-right">
        <img src="">
    </div>

</nav>





<!-- Breif Events !!! ============================================================================================================ -->





<!-- Section (partner) !!! ======================================================================================================== -->



<style>
    .sec-partners {
        justify-content: space-between;
        align-items: center;
        padding: 40px 80px;
        margin: 1em 0;
        border-top: 2px solid #eeeeee;
    }

    .sec-partners h1 {
        margin-top: 1em;
    }

    .sec-partners .row {
        float: left;
        margin: 2em 0;
        width: 100%;
    }

    .logo-container {
        float: left;
        width: 16%;
        width: 100px;
    }

    .logo-container:not(:first-child) {
        margin-left: 7.5%;
    }

    .logo-container:first-child {
        margin-top: .2em;
    }

    .logo-container:nth-of-type(2) img {
        margin-top: 1.2em
    }

    .logo-container:nth-of-type(3) img {
        margin-top: 1.8em;
    }

    .logo-container:nth-of-type(4) img {
        margin-top: 2.35em;
    }

    .logo-container:nth-of-type(5) img {
        margin-top: .35em;
    }

    .logo-container:last-of-type img {
        margin-top: .65em;
    }

    .sec-partners img {
        float: left;
        width: 100%;
    }
</style>
<main>
    <div class="sec-partners">
        <h1>Our Partners</h1>
        <div class="row">
            <div class="logo-container">
                <img src="https://i.imgur.com/oSriTuP.png" alt="Google logo" />
            </div>
            <div class="logo-container">
                <img src="https://i.imgur.com/kRgvevC.png" alt="Apple logo" />
            </div>
            <div class="logo-container">
                <img src="https://i.imgur.com/ZZjeIP3.png" alt="Wii logo" />
            </div>
            <div class="logo-container">
                <img src="https://i.imgur.com/536rtCW.png" alt="Valve logo" />
            </div>
            <div class="logo-container">
                <img src="https://i.imgur.com/VTq1c9p.png" alt="Adithya Institute of Technology logo" />
            </div>
            <div class="logo-container">
                <img src="https://i.imgur.com/GdYoyxo.png" alt="Intel logo" />
            </div>
        </div>
    </div>
</main>

{% include "part_page/footer.html" %}


