
<!-- Footer !!! ============================================================================================================ -->


<style>
    @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        padding: 40px 80px;
    }

    .footer .copy {
        color: rgb(0, 0, 0);
    }

    .bottom-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 40px 0;
    }

    .bottom-links .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
    }

    .bottom-links .links span {
        font-size: 20px;
        color: rgb(0, 0, 0);
        margin: 10px 0;
        font-weight: bold;
    }

    .bottom-links .links a {
        text-decoration: none;
        color: gray;
        padding: 10px 20px;
    }
</style>

<footer class="footer">
    <div class="copy">
        <br>
        <br>
        <br>
        <br>
        <br>
        &copy; 2022 UM021 IT Development Team</div>
    <div class="bottom-links">
        <div class="links">
            <span>Discover</span>
            <a href="/products/">Products</a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
        </div>
        <div class="links">
            <span>Information for...</span>
            <a href="/events/">Events      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     </a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
        </div>
        <div class="links">
            <span>Connect with us</span>
            <a href="/">Home   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </a>
            <a href="/contact/">Contact   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </a>
            <a href="/about/">About us    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     </a>
        </div>
    </div>
</footer>