{% include "part_page/page_style.html" %}
{% include "part_page/header.html" %}



<!-- Information Section !!! ============================================================================================================ -->

<body>
    <head>
        <style>
            .split {

            }
        </style>
    </head>

    <div class="split">
        <div class="contact-method">
            <span class="icon solid alt fa-envelope"></span>
            <h3>Email</h3>
            <a href="#">information@untitled.tld</a>
        </div>
        <div class="contact-method">
            <span class="icon solid alt fa-phone"></span>
            <h3>Phone</h3>
            <span>(000) 000-0000 x12387</span>
        </div>
        <div class="contact-method">
            <span class="icon solid alt fa-home"></span>
            <h3>Address</h3>
            <span>1234 Somewhere Road #5432<br>
            Nashville, TN 00000<br>
            United States of America</span>
        </div>
    </div>
</body>



{% include "part_page/footer.html" %}