{% include "part_page/page_style.html" %}
{% include "part_page/header.html" %}



<!-- Information Section !!! ============================================================================================================ -->





<style>
    .child1 {
        float: left;
        display: flex;
        flex-direction: column;
        color: #000;
        width: 300px;
        height: 500px;
        margin-top: 75px;
        margin-left: 100px;
    }

    .child1 p {
        padding-left: 20%;
        font-size: 30px;
        font-weight: bold;
    }

    .child1 p span {
        font-size: 20px;
        color: #000;
    }

    .rt-container {
        width: 1440px;
        height: 700px;
    }

    .club-location-goole-map {
        width: 620px;
        height: 500px;
        float: right;
        margin-top: 75px;
        margin-right: 100px;
    }
</style>


<div class="rt-container">
    <div class="child1">
        <p>
            <i class="fas fa-map-marker-alt"></i> Address: <br />
            <span> 3359 Mississauga Road <br />
                Mississauga, ON <br />
                L5L 1C6
            </span>
        </p>

        <p>
            <i class="fas fa-phone-alt"></i> Phone: <br />
            <span> 1-(437)-6666-8888</span>
        </p>

        <p>
            <i class=" far fa-envelope"></i> Email: <br />
            <span>ut021@ut021.com</span>
        </p>
    </div>


    <iframe class="club-location-goole-map"
        src="https://maps.google.com/maps?q=university%20of%20toronto%20mississauga&t=&z=13&ie=UTF8&iwloc=&output=embed"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>


{% include "part_page/footer.html" %}