{% include "part_page/page_style.html" %}
{% include "part_page/header.html" %}



<!-- Intro UM021 !!! ============================================================================================================ -->



<!-- 零贰壹中国企业家团队在2018年建立于多伦多大学，意为从零到壹，从无到有的创业阶段，以及探索创新的创业精神。从一个5人开始的团队开始，我们成长为了现在的在加拿大政府注册的同名非盈利组织和跨越三个校区的学生社团。在过去的四年里，我们成功组织了大量活动和项目。譬如由ProTalk项目组举办的小论坛，一个为来自不同学科和院系的多伦多大学学生举办的研讨会：Protalk小论坛以学生们探讨对不同主题的想法为出发点，在输出观点，激发想法和讨论的同时培养大家对时事的思考以及对当下市场环境的探索。该活动收到了很多来自不同行业的嘉宾们的支持和肯定。  -->




{% include "part_page/footer.html" %}